<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ldtlang</string>
	<key>uuid</key>
	<string>9B4C2D35-1F6A-4E2B-8D72-000000000101</string>
	<key>description</key>
	<string>Syntax highlighting for ldt-lang (.ldt) templates.</string>
</dict>
</plist>
